<section>
  <div class="title mt-5 mb-4">
    <h2>Available Courses,</h2>
  </div>
  <div class="container">
    <mat-card class="example-card" *ngFor="let course of courses">
      <a (click)="onc2Clicked(course._id)">
      <mat-card-title>{{ course?.courseName }}</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <h3>* {{ course?.description }}</h3>
      </mat-card-actions>
    </a>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </div>
</section>
