<section>
  <h1 class="mt-5 text-center font-bold mb-5">ADMIN SECTION</h1>
  <main class="mt-5">
    <h1 class="mt-5 font-semibold mb-0">{{ course?.name | uppercase }},</h1>
    <h2>( {{ course?.teachBy | titlecase }} )</h2>
    <div class="flex justify-content-between">
      <div class="weeks mt-5 w-8">
        <h2 class="font-semibold">Available Weeks,</h2>
        <div class="grid mt-5">
          <div class="col-3 mb-3" *ngFor="let week of availableWeeks">
            <a>{{ week?.name | titlecase }}</a>
          </div>
        </div>
      </div>
      <div class="add-course mt-5 mr-5">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-rounded p-button-secondary mr-5 mt-5"
          pTooltip="Add New Week"
        ></button>
      </div>
    </div>
  </main>
</section>
