header {
  height: 30px;
  margin: auto 80px;
  max-width: 1200px;
  margin: auto;

  @media (max-width: 880px) {
    margin: auto 30px;
  }

  @media (max-width: 500px) {
    margin: auto 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .logo {
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}
