section {
  width: 60%;
  margin: auto;
  h1 {
    letter-spacing: 3px;
  }
  .admin-detail {
    img {
      width: 20%;
    }

    .detail {
      h2 {
        margin-bottom: 0;
        font-size: 1.5rem;
        text-transform: capitalize;
        font-weight: 600;
      }

      h4 {
        font-size: 1.2rem;
        text-transform: lowercase;
        font-weight: 500;
      }
    }
  }
  .courses {
    ul {
      list-style: none;

      li {
        a {
          .course {
            margin-bottom: 15px;
            border: 2px solid #000;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            h2,
            h3 {
              margin: 0;
            }

            &:hover {
              box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }
}
