section {
  margin-top: -60px;
  height: 100vh;
  background-image: url("../../assets/17973908.jpg");

  .hero-section {
    max-width: 1000px;
    margin: auto;

    .flex {
      padding-top: 13rem;

      .title {
        h1 {
          padding-top: 10rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 3rem;
          padding-right: 30px;
          font-family: "Poppins", "Helvetica Neue", sans-serif;
        }
      }
    }

    @media (max-width: 850px) {
      .flex {
        .title {
          margin-left: 20px;
        }
      }
    }

    @media (max-width: 500px) {
      .flex {
        padding-top: 0;

        .title {
          margin: 0;
          h1 {
            padding-top: 0;
            font-size: 2rem;
            margin-left: 15px;
          }
        }
        .img {
          padding-top: 8rem;
          text-align: center;

          img {
            width: 90%;
          }
        }
      }
    }
  }
}
